@using BLL;
@using Entities;
@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";

    bool success = false;
    string error = null;

    if (IsPost)
    {
        IBLL<Award> bll = new AwardBLL();

        try
        {
            bll.DeleteByID(new Guid(Request["awardId"]));

            success = true;
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}

@if (IsPost)
{
    //TODO: alert with asking for deleting award for all users

    if (success)
    {
        <div class="alert alert-success" role="alert">
            Award is deleted!
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @error
        </div>
    }
}

<h1> Delete award</h1>
<form method="post">
    <div class="form-group">
        <label for="inputId">ID</label>
        <input name="awardId" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>