<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--screen params-->
    <add key="Width" value="77" />
    <add key="Height" value="22" />
  
    <!--game params-->
    <add key="number_of_monsters" value="2" />
    <add key="number_of_barriers" value="5" />
    <add key="number_of_bonuses" value="3" />
  
  </appSettings>
</configuration>